---
import Layout from "@layouts/Layout.astro";
import Featured from "@data/featured.json";
import HomeCardGrid from "@components/HomeCardGrid.astro";

const title = "Home";
---

<Layout title={title}>

  <!-- HERO -->
  <section class="relative w-full h-screen flex items-center justify-center overflow-hidden max-h-[560px]">
    <img 
      src="https://ik.imagekit.io/ur4olhqhr/background-home.jpg?updatedAt=1759831123520" 
      alt="Credits to Freepik" 
      class="absolute inset-0 w-full h-full object-cover -z-10"
    />
    <div class="absolute inset-0 bg-black/40 -z-0"></div>
    <h1 class="relative text-white text-4xl sm:text-5xl lg:text-6xl text-center tracking-widest uppercase p-4 font-bold drop-shadow-lg">
      Hi, I'm Christian Zamora 
    </h1>
  </section>

  <!-- CONTENT -->
  <section >

    <HomeCardGrid cardData={Featured} />
  
  </section>

  
</Layout>
