<footer class="pt-12 pb-20 text-center text-base">
  <div class="mt-4 space-x-6">
    <a href="/contact" class="text-white no-underline uppercase text-xl tracking-[5px] font-bold hover:text-red-600">
      Contact
    </a>
    <a href="#" class="text-white no-underline uppercase text-xl tracking-[5px] font-bold hover:text-red-600">
      Terms
    </a>
  </div>
  <p class="mt-6 text-sm text-gray-400">&copy; 2025 Cristian Z. | Hecho con Astro</p>
</footer>
