---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "../assets/styles/global.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} | Portfolio` : "Portfolio"}</title>
  </head>

  <body class="flex flex-col min-h-screen bg-black text-white font-mono">
    <Header />

    <main class="flex-1 w-full">
      <slot />
    </main>

    <Footer />
  </body>
</html>
